---
import { DevLinkProvider } from '../../devlink/DevLinkProvider';

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = 'Webflow Cloud App', 
	description = 'A Webflow Cloud boilerplate built with Astro' 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		
		<!-- Webflow Global Styles -->
		<link rel="stylesheet" href="/devlink/global.css" />
	</head>
	<body>
		<DevLinkProvider client:load>
			<slot />
		</DevLinkProvider>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
	}
	
	body {
		display: flex;
		flex-direction: column;
	}
	
	#app {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
</style>
